

h1{
    color: $second-color;
    font-size:64px;
    line-height: 96px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
}
@mixin h2{
    color: $second-color;
    font-size:48px;
    line-height: 80px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    text-align:center;
}

h2{
    @include h2;
}

@mixin h3{
    color:$second-color;;
    font-size:32px;
    line-height: 48px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: normal;
    text-align: center
}

h3{
    @include h3;
}

@mixin h4{
    color:$second-color;;
    font-size:24px;
    line-height: 36px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
}

h4{
    @include h4;
}

h5{
    color:$black-color;
    font-size:20px;
    line-height: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
}

@mixin p{
    color:$black-color;
    font-size:16px;
    line-height: 24px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: normal;
}

p{
    @include p;
}

.sub-slogan{
    @include h3;
    font-size: 36px;
    line-height: 54px;
    font-weight: lighter;
}

.date-text{
    color:$comment-color;
    font-size:14px;
    line-height: 21px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: normal;
}

.link-text{
    color: $white-color;
    font-size: 20px;
    line-height: 30px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 200;
}

.glasses-models-text{
    @include h2;
    line-height: 72px;
    font-family: Roboto,sans-serif;
    font-weight: bold;
    font-style: italic;
    color: $primary-color;
}

.design-glasses-text{
   font-size: 72px;
   font-family: Roboto,sans-serif;
   line-height: 108px;
   font-weight: bold;
   font-style:normal;
   color: $primary-color;
}

.products-name-text-en{
    font-size: 42px;
    line-height: 63px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    color:$black-color;
    text-align: center;
}

.products-name-text-zh{
    @include h3;
    line-height: 48px;
    color:$black-color;
    font-weight:normal;
}

@include media-pad{
    .products-name-text-en{
        font-size: 32px;
        line-height: 48px;
    }
    .products-name-text-zh{
        font-size: 24px;
        line-height: 36px;
    }
};

@include media-mobile{
    .products-name-text-en{
        font-size: 20px;
        line-height: 26px;
    }
    .products-name-text-zh{
        font-size: 16px;
        line-height: 24px;
    }
};

@include media-pad{

    h1{
        font-size:48px;
        line-height: 72px;
    }

    h2{
        font-size:32px;
        line-height: 48px;
    }

    h3{
        font-size:24px;
        line-height: 36px;
    }

    h4{
        font-size:20px;
        line-height: 23px;
    }


    h5{
        font-size:16px;
        line-height: 24px;
    }
   
}

@include media-mobile{

    h1{
        font-size:32px;
        line-height: 72px;
    }

    h2{
        font-size:24px;
        line-height: 36px;
    }

    h3{
        font-size:16px;
        line-height: 36px;
    }

    h4{
        font-size:20px;
        line-height: 24px;
    }

    h5{
        font-size:16px;
        line-height: 24px;
    }

    .glasses-models-text{
        font-size: 28px;
        line-height: 72px;
        font-family: Roboto,sans-serif;
        font-weight: bold;
        font-style: italic;
        color: $primary-color;
    }
    
}