
.classic-glasses{
    padding: 60px 0 80px 0;

    .sparkle::before{
        content:"";
        background: url("../images/icons/icon-sun.svg");
        background-size: 48px 48px;
        background-repeat: no-repeat;
        padding-left: 60px;
    }
    .sun::before{
        content:"";
        background-image: url("../images/icons/icon-thunder.svg");
        background-size: 48px 48px;
        background-repeat: no-repeat;
        padding-left: 50px;
    }

    .lightning::before{
        content:"";
        background-image: url("../images/icons/icon-thunder.svg");
        background-size: 48px 48px;
        background-repeat: no-repeat;
        padding-left: 50px;
    }
    
    .models .people:nth-child(1) div:nth-child(2),
    .models .people:nth-child(3) div:nth-child(2)
    {
        margin-left:30px;
    }
    .models .people:nth-child(2) div:nth-child(2){
        margin-right: 30px;
    }
}

@include media-mobile{
    .classic-glasses{
        padding: 32px 0 40px 0;
        .models{ 
            h2{
                width: $break-point-mobile;
            }
            .people{ 
                position: relative;
                img{
                    width: 345px;
                    height: auto;
                }
                div:nth-child(1){
                    position: relative;
                } 
                div:nth-child(2){
                    position: absolute;
                    height: 100%;
                    top:calc((134px - 72px/2)/2);
                } 
            }
        }
        
     
        .sparkle::before{            
            content:"";
            background-image: url("../images/icons/icon-sun.svg");
            background-size: 30px 30px;
            background-repeat: no-repeat;
            padding-left: 30px;
        }
        .sun::before{
            content:"";
            background-image: url("../images/icons/icon-thunder.svg");
            background-size: 30px 30px;
            background-repeat: no-repeat;
            padding-left: 30px;
        }
    
        .lightning::before{
            content:"";
            background-image: url("../images/icons/icon-thunder.svg");
            background-size: 30px 30px;
            background-repeat: no-repeat;
            padding-left: 30px;
        }
        
        .models .people:nth-child(1) div:nth-child(2),
        .models .people:nth-child(3) div:nth-child(2)
        {
            margin-left:0px;
        }
        .models .people:nth-child(2) div:nth-child(2){
            margin-right: 0px;
        }

      
    }
    
}

.design-glasses{
    background-image:url("../images/models/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.jpg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 80px 0;

    h2{
        color:$white-color;
        width: 100%;
        text-align: center;
    }

    li:nth-child(1){
       background-image: url("../images/models/oladimeji-odunsi-Wu3yqve2gnc-unsplash.jpg");
       width: 540px;
       height: 455px;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
    }

    li:nth-child(2){
        background-image: url("../images/models/thiago-carlos-machado-oNXGsD7Ibsk-unsplash.jpg");
        width: 540px;
        height: 455px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }

}

@include media-mobile{

    .design-glasses{
        padding: 32px 0 40px 0;
        li:nth-child(1){
           width: 345px;
           height: 290px;
        }

        li:nth-child(2){
            width: 345px;
            height: 290px;
        }
    }
}

.customers-recommend{
    padding: 60px 0 80px 0;
    h2{
        color:$second-color;
        width: 100%;
    }

    .grid-4col{
        gap:30px;
    }

    .customer-comment-card{
        width: 255px;
        .customer-img{
            img{
                width: 255px;
                height: 255px;
                object-fit:cover;
                border-radius: 3% 3% 0 0;
            }
        }
        .comment{
            padding: 16px;
            height: 205px;
            position: relative;
            border-radius: 0 0 3% 3%;
            border:1px solid $comment-border;
            box-shadow: 0 2px 10px #DEE2E6;
            .customer-name{
                font-size: 14px;
                line-height: 21px;
            }
            .comment-date{
                position: absolute;
                bottom: 16px;
                left: 16px;
                @extend .customer-name;
                color:$comment-color;
            }
        }
    }    
}

@include media-mobile{
    .customers-recommend{
        padding: 32px 0 40px 0;
        h2{
            color:$second-color;
            width: 100%;
        }
    
        .grid-4col{
            gap:16px;
        }
    
        .customer-comment-card{
            width: 345px;
            .customer-img{
                img{
                    width: 345px;
                    height: 345px;
                }
            }

            .comment{
                padding:16px 24px;
            }
        }    
    }
}

.comment-part{
    padding: 60px 0 80px 0;
    background-color: $light-color;
    .form-section{
        width: 730px;
        h5{
            margin-bottom: 20px;
        }
        label,input[type=text],textarea{
            width: 100%;
            display: block;
        }
        input[type=text]{
            height: 50px;
            padding: 12px 16px;

            &::placeholder{
                color: rgba(0,0,0,0.2);
            }
        }
        input[type=submit]{
            width: 49%;
            height: 54px;
            color:$white-color;
            background-color:$primary-color;
			outline: none;
            border:none;
            box-shadow: none;
        }
        input[type=checkbox]{
            height:24px;
            width: 24px;
            margin-right: 4px;

        }
        textarea{
            height: 140px;
            padding: 12px 16px;
            &::placeholder{
                color: rgba(0,0,0,0.2);
            }
        }
        label{
            @include p;
        }
        .chk{
            width: 100%;
        }
    }
}

@include media-mobile{

    .comment-part{
        padding: 30px 0 40px 0;
        .form-section{
            width:100%;
            input[type=text]{
                height: 36px;
                padding: 9px 12px;

            }
            input[type=submit]{
                height: 36px;
            }
            textarea{
                height: 100px;
                padding: 9px 12px;

            }

            .chk{
                align-items: start;
            }
        }
    }

}