
header,main,footer{
    width: 100%;
    
}


.container{
    max-width: 810px;
    margin: 0 auto;
}

//
.d-block{
    display: block;
}

.d-inline{
    display: inline-block; 
}

//flex

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}


.flex{
    @include flex-row;
}

.flex-col{
    @include flex-col;
}


@include media-mobile{
    .flex-mobile-row{
       @include flex-row;
    }

    .flex-mobile-col{
        @include flex-col;
    }
    
    .align-mobile-left{
        align-items: start;
    }
}

.flex-around{
    justify-content: space-around;
    align-items: center;
}



.flex-between{
    justify-content: space-between;
    align-items: center;
}

.flex-end{
    justify-content:flex-end;
}

.flex-align{
    align-items: center;
}

.verical-align{
    vertical-align: middle;
}

// 用再buttom多
.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d-inline-b{
    display: inline-block;
}

.vertical-center{
    align-items: center;
}


.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//margin-bottom

@for $i  from 1 through 10{
    .mb-#{$i}{
        margin-bottom: ($i*8px);
    }
}

.mb-12{
    margin-bottom: 104px;
}

.mb-13{
    margin-bottom: 160px;
}

@include media-pad{
    @for $m from 1 to 14{
        .mb-m-#{$m}{
            margin-bottom:$m*4px;
        }
    }

}

@include media-mobile{
    @for $s from 1 to 12{
        .mb-s-#{$s}{
            margin-bottom: $s*4px;
        }
    }
}

