
header,main,footer{
    width: 100%;
    
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

@include media-pad{
    .container-pad{
        max-width:$break-point-pad;
        margin: 0 auto;
    }
}

@include media-mobile{
    .container-mobile{
        max-width:$break-point-mobile;
        margin: 0 auto;
    }
}

//
.d-block{
    display: block;
}

.d-inline{
    display: inline-block; 
}

//flex

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}


.flex{
    @include flex-row;
}

.flex-col{
    @include flex-col;
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

@include media-mobile{
    .flex-mobile-row{
       @include flex-row;
    }

    .flex-mobile-col{
        @include flex-col;
    }
    
    .align-mobile-left{
        align-items: start;
    }
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-around{
    justify-content: space-around;
    align-items: center;
}
.flex-between{
    justify-content: space-between;
    align-items: center;
}

.flex-start{
    justify-content:flex-start;
    align-items: center;
}

.flex-end{
    justify-content:flex-end;
    align-items: center;
}


.flex-align{
    align-items: center;
}

.verical-align{
    vertical-align: middle;
}


.grid-1col{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}

.grid-2col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.grid-3col{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}


.grid-4col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}

@include media-pad{
    .grid-m-2col{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@include media-mobile{
    .grid-s-1col{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}


.text-right{
    text-align: right;
}


.flex-text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@include media-mobile{
    .-mobile{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
}


.d-inline-b{
    display: inline-block;
}

.vertical-center{
    align-items: center;
}


.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//margin-bottom

@for $i  from 1 through 10{
    .mb-#{$i}{
        margin-bottom: ($i*8px);
    }
}

.mb-12{
    margin-bottom: 104px;
}

.mb-13{
    margin-bottom: 160px;
}

@include media-pad{
    @for $m from 0 to 14{
        .mb-m-#{$m}{
            margin-bottom:$m*4px;
        }
    }

}

@include media-mobile{
    @for $s from 0 to 12{
        .mb-s-#{$s}{
            margin-bottom: $s*4px;
        }
    }
}

