.location{
    padding:96px 0 160px 0;

    .title{
        color:$black-color;
        text-align:left;
        

        &::before{
            content:" ";
            background-color: $primary-color;
            height: 100%;
            padding-left: 10px;
            margin-right: 16px;
        }
    }

    .dropdown-location{
        label{
            @include h4;
            color:$black-color;
            line-height: 30px;
            font-weight: normal;
            margin-right: 20px;
        }

        select{
            width: 324px;
            height: 45px;
            padding: 10px 19px;
            border: 1px solid $dropdown-border;
            color:$dropdown-text;
           
        }
    }

    .store-cards{
        gap:30px 32px;
        .store-card{
            width: 350px;
            img{
                object-fit: cover;
                width: 350px;
                height: 224px;
            }
            .store-title{
                border: 1px solid $location-card-border;
                border-bottom:none;
                padding: 12px 24px;
                color:$black-color;
                font-weight: normal;
            }

            @mixin store-detail{
                background-repeat: no-repeat;
                @content;
            }
            
            .store-content{
                border: 1px solid $location-card-border;
                padding: 16px 26px;
                .tel,.time,.address{
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    span{
                        display: block;
                        width: 22px;
                        height: 20px;
                        margin-right: 10px;
                        
                    }
                    p{
                        font-size: 20px;
                        line-height: 30px;
                        width: 95%;
                    }
                }

                .tel span{
                    @include store-detail{
                        background-image: url("../images/icons/icon-phone-black.svg");
                        background-size: 18px 18px;
                    }
                }
                .time span{
                    @include store-detail{
                        background-image: url("../images/icons/icon-clock-black.svg");
                        background-size: 18px 18px;
                    }
                }
                .address span{
                    align-self: flex-start;
                    margin-top: 5px;
                    @include store-detail{
                        background-image: url("../images/icons/icon-map.svg");
                        background-size: 16px 18px;
                    }
                }
            }
            .detail{
                width: 100%;
                display: block;
                text-align: center;
                background-color: $black-color;
                color: $white-color;
                font-size: 19px;
                line-height: 27px;
                font-weight: normal;
                font-family: "Noto Sans TC", sans-serif;
                border: none;
                width: 100%;
                padding: 20px 0;
            }
        }
    }
}