
.show-border{
    border: 1px solid #000;
}

@mixin  media-mobile{
    @media only screen and (max-width:calc(#{$break-point-pad} - 1px)){
        @content;
    }
}

@mixin  media-pad{
    @media only screen and (max-width:calc(#{$break-point-pc} - 1px )) and (min-width:$break-point-pad) {
        @content;    }
}


// @mixin  media-pad{
//     @media only screen and (min-width:$break-point-pad) {
//         @content;    }
// }


@mixin  media-pc{
    @media only screen and (min-width:$break-point-pc){
        @content;
    }
}

@mixin  a-to-block {
    display: block;
    align-items:center;
}

