.problems{
    padding: 96px 0 160px 0;
    .problem-title{
        line-height: 63px;
        color: $black-color;
        font-weight: bold;
    }
    .problem{
        display: flex;
        flex-direction: column;
        max-width: calc(10/12*100%);
        .question{
            @include h5;
            line-height: 23px;
            font-weight: bold;
            width: calc(4/10*100%);
        }

        .answer{
            align-self: flex-end;
            @include p;
            width: calc(9/10*100%);
        }
       
    }
}

@include media-pad{
    .problems{
        padding: 60px 40px 96px 40px;
        .problem{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            .question{
                @include h5;
                line-height: 23px;
                font-weight: bold;
                width:calc(7/12*100%);
            }
    
            .answer{
                // align-self: flex-end;
                @include p;
                width:100%;
            }
        }
    }
}


@include media-mobile{
    .problems{
        padding: 28px 15px 56px 15px;
        .problem-title{
            @include h5;
        }

        .problem{
            max-width: 100%;
            .question{
                @include p;
                font-weight: bold;
                width: 100%;
            }
    
            .answer{
                align-self: flex-start;
                @include p;
                width: 100%;
            }
           
        }

    }
}