.problems{
    width: 100%;
    .problem-title{
        line-height: 63px;
        color: $black-color;
        font-weight: bold;
    }

    .problem{
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        .question{
            border: 1px solid #000;
            @include h5;
            line-height: 23px;
            font-weight: bold;
            max-width: 38%;
        }

        .answer{
            align-self: flex-end;
            border: 1px solid #000;
            @include p;
            max-width: 90%;
        }
       
    }
}