.products-nav{
    
    .products-links{
        a{
            display: block;
            cursor: pointer;
            padding:27px 92px;
            cursor: pointer;
            color:$black-color;
            &:active{
                color: $black-color;
            }
        }
        li:nth-child(1){
            a{
                border-left:2px solid $border-gray;
                border-right:2px solid $border-gray;
            }
        }
        li:nth-child(2), li:nth-child(3){
            a{
                border-right:2px solid $border-gray;
            }
        }

        .link-items{
            p{
                 @include h3;
                 color:$black-color; 
                &:hover{
                   box-shadow: inset 0 -8px $primary-color;
                }
            }
        }
        .link-item-1, .link-item-2{
            & a::before{
                content:"";
                background: url("../images/icons/icon-sun-black.svg");
                background-size: 48px 48px;
                background-repeat: no-repeat;
                padding-left: 60px;
            }
        }

        .link-item-3{
            & a::before{
                content:"";
                background: url("../images/icons/icon-thunder-black.svg");
                background-size: 48px 48px;
                background-repeat: no-repeat;
                padding-left: 60px;
            }
        }
    }

    .banner{
       .banner-image{
            li{
                width: 100%;
               
                &:nth-child(1){
                    img{
                        width:100%;
                        height: 305px;
                        object-fit: cover;
                        object-position:50% 60%;
                    }
                }
                &:nth-child(2){
                    img{
                        width:100%;
                        height: 305px;
                        object-fit: cover;
                        object-position:50% 30%;
                    }
                }

            }
       }
    } 
}

@include media-pad{
    .products-nav{
        .products-links{
            a{
                padding:15px 0;
                width: 230px;
            }
    
            .link-items{
                p{
                     @include h3;
                     font-size: 24px;
                     line-height: 32px;
                    
                }
            }
            .link-item-1, .link-item-2{
                & a::before{
                    background-size: 30px 30px;
                    background-position: 0 1px;
                    padding-left: 35px;
                    vertical-align:middle;
                }
            }
    
            .link-item-3{
                & a::before{
                    background-size: 30px 35px;
                    background-position: 0 3px;
                    padding-left: 35px;
                }
            }
        }
    
        .banner{
           .banner-image{
                li{
                    width: 100%;
                   
                    &:nth-child(1){
                        img{
                            height: 304px;
                        }
                    }
                    &:nth-child(2){
                        img{
                            height: 304px;
                        }
                    }
    
                }
           }
        } 
    }

}

@include media-mobile{
    .products-nav{
        .products-links{
            a{
                padding:5px 0;
                width: 115px;
            }
    
            .link-items{
                p{
                     @include h3;
                     font-size: 14px;
                     line-height: 23px;
                     &:hover{
                        box-shadow: inset 0 -4px $primary-color;
                     }
                }
            }
            .link-item-1, .link-item-2{
                & a::before{
                    background-size: 15px 15px;
                    background-position: 0 1px;
                    padding-left: 17px;
                    vertical-align:middle;
                }
            }
    
            .link-item-3{
                & a::before{
                    background-size: 15px 16px;
                    background-position: 0 3px;
                    padding-left: 17px;
                }
            }
        }
    
        .banner{
           .banner-image{
                li{
                    width: 100%;
                   
                    &:nth-child(1){
                        img{
                            height: 148px;
                        }
                    }
                    &:nth-child(2){
                        img{
                            height: 148px;
                        }
                    }
    
                }
           }
        } 
    }


}
