
header{
    background-color: $primary-color;
    nav{
        padding: 30px 80px;
    }
    .nav-links a{
        display: block;
        margin: 0 32px;
        text-decoration: none;
        cursor: pointer;
    }
}

footer{
    background-color: $primary-color;
    padding: 44px 0;

    .sns-links{
        li a{
            display: inline-block;
        }

        .facebook-icon,.instagrams-icon{
            fill:$white-color;
            width: 48px;
            height: 48px;
        }
    } 

    .footer-links{
        a{
            @extend p;
            color:$white-color;
            display: inline-block;
            margin-right: 48px;
        }   
    }
    .sns-links{
        a{
            margin-left: 32px;
        }
    }

    .telphone,.email{
        p{
            font-size:36px;
            line-height: 54px;
            color: $white-color;
            font-family:Roboto,sans-serif;
            font-weight: 400;
            margin-left: 16px;
        }
    }

    .copy-right{
        @extend p;
        li,a{
            color: $white-color;
        }
    }

    .policy-links a{
        padding:0 24px;
            display: block;
    }
}