
$primary-color:#AA0601;
$second-color:#650300;
$third-color:#AA06010D;
$light-color:#FBF2F2;
$black-color:#000;
$white-color:#fff;
$comment-color:#707070;
$comment-border:#DEE2E6;
$border-gray:#DCDCDC;
$glasses-color-1:#5F3E2D;
$glasses-color-2:#B75929;
$pagination-color:#555555;
$pagination-background-color:#F2F2F2;
$dropdown-text:#495057;
$blog-text:#555555;
$dropdown-border:#CED4DA;
$location-card-border:#00000020;

$break-point-pc:1024px;
$break-point-pad:768px;
$break-point-mobile:375px;