
$primary-color:#AA0601;
$second-color:#650300;
$third-color:#AA06010D;
$black-color:#000;
$white-color:#fff;
$comment-color:#707070;

$break-point-pc:1024px;
$break-point-pad:768px;
$break-point-mobile:370px;