{% extends "layout.njk" %}

{% block content %}
<div class="location">
    <div class="container container-pad container-mobile">
        <form action="" method="POST">
            <h2 class="common-big-title mb-8 mb-m-10 mb-s-6">門市據點</h2>
            <div class="dropdown-location flex flex-align mb-5 mb-m-6 mb-s-5">
               <label for="location_list">選擇地區</label>
               <select name="location_list" id="location_list">
                   <option value="taipei">台北市</option>
                   <option value="taichung">台中市</option>
                   <option value="kaoshung">高雄市</option>
               </select>
            </div>
            {% include  "partials/store-cards.njk"%}
        </form>
    </div>
</div>
{% endblock %}