{% extends "layout.njk" %}

{% block content %}
{% include  "partials/products-type-nav.njk"%}
<div class="products">
    <div class="container container-pad container-mobile">
        <div class="title mb-5 mb-m-8 mb-s-5">
            <h1 class="products-name-text-en">
                Celluloid Combi
            </h1>
            <h2 class="products-name-text-zh">
                賽璐珞鈦金屬混合鏡框
            </h2>
        </div>
        <div class="products-albumn grid-4col grid-m-2col grid-s-1col">
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-1.png" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-2.png" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-3.png" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-10.jpg" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-11.jpg" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-12.jpg" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-1.png" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-2.png" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-3.png" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-10.jpg" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-11.jpg" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="prouduct-card">
                <img src="{{image_directory}}products/products-12.jpg" alt="眼鏡">
                <div class="content">
                    <ul>
                        <li>
                            <ul class="product-data flex flex-between">
                                <li class="product-name">BJ41600S</li>
                                <li class="product-money">NTD3,490</li>
                            </ul>
                        </li>
                        <li class="product-color"><span></span><span></span></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include  "partials/pagination.njk"%}
    </div>
</div>
{% endblock %}
