<div class="blog-nav">
    <ul class="flex flex-between container container-pad container-mobile">
       <li>
           <ul class="nav-link flex">
                <li class="link-item"><a href="#">最新消息</a></li>
                <li class="link-item"><a href="#">特別企劃</a></li>
                <li class="link-item"><a href="#">新品上市</a></li>
                <li class="link-item"><a href="#">鏡框小知識</a></li>
           </ul>
       </li>
       <li>
           <form action="" method="POST">
                <ul class="search">
                    <li class="flex flex-align">
                        <input type="text" class="search-input">
                        <button class="search-button"></button>
                    </li>
                </ul>
            </form>
       </li>
       
    </ul>

</div>
