<header>
    <nav>
            <ul class="flex flex-between flex-mobile-col">
                <li><a href="index.html"><img src="{{image_directory}}/icons/logo-sm.png" alt="首頁" href="{{top_page}}"></a></li>
                <li class="flex">
                    <ul class="flex flex-around nav-links">
                        <li><a class="link-text" href="{{pages}}products.html">系列鏡框</a></li>
                        <li><a class="link-text" href="{{pages}}location.html">門市據點</a></li>
                        <li><a class="link-text" href="{{pages}}blog.html">部落格</a></li>
                        <li><a class="link-text" href="{{pages}}problem.html">常見問題</a></li>
                    </ul>
                </li>
            </ul>
    </nav>
</header>
  