<ul class="products-nav flex-col">
    <li class="products-links">
        <ul class="flex flex-center flex-align link-items">
          <li>
                <p class="link-item-1">
                    <a href="products.html">
                        OPTICAL
                    </a>
                </p>
          </li>
          <li>
                <p class="link-item-2">
                    <a href="products_new.html">
                        SUNGLASSES
                    </a>
                </p>
          </li>
          <li>
                <p class="link-item-3">
                    <a href="#">
                    FUNCTIONAL
                    </a>
                </p>    
          </li>
        </ul>
    </li>
    <li class="banner">
        <ul class="flex banner-image">
            <li>
                <img src="{{image_directory}}models/sincerely-media-FY6-bWUun9Q-unsplash.jpg" alt="眼鏡">
            </li>
            <li>
                <img src="{{image_directory}}models/flemming-fuchs-zisRjTikZWU-unsplash.jpg" alt="戴眼鏡的人">
            </li>
        </ul>
    </li>
</ul>