  <div class="store-cards grid-3col grid-m-2col grid-s-1col">
    <div class="store-card">
        <img src="{{image_directory}}/stores/locate1.jpg" alt="分店一">
        <h4 class="store-title">台北中山旗艦店</h4>
        <div class="store-content">
            <div class="tel"><span></span><p>電話：(02)000-1234</p></div>
            <div class="time"><span></span><p>營業時間：10:00-21:00</p></div>
            <div class="address"><span></span><p>地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <a href="branch.html" class="detail ">詳細資訊</a>
    </div>
    <div class="store-card">
        <img src="{{image_directory}}/stores/locate2.jpg" alt="分店二">
        <h4 class="store-title">台北中山旗艦店</h4>
        <div class="store-content">
            <div class="tel"><span></span><p>電話：(02)000-1234</p></div>
            <div class="time"><span></span><p>營業時間：10:00-21:00</p></div>
            <div class="address"><span></span><p>地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <a href="branch.html" class="detail ">詳細資訊</a>
    </div>
    <div class="store-card">
        <img src="{{image_directory}}/stores/locate3.jpg" alt="分店三">
        <h4 class="store-title">台北中山旗艦店</h4>
        <div class="store-content">
            <div class="tel"><span></span><p>電話：(02)000-1234</p></div>
            <div class="time"><span></span><p>營業時間：10:00-21:00</p></div>
            <div class="address"><span></span><p>地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <a href="branch.html" class="detail ">詳細資訊</a>
    </div>
    <div class="store-card">
        <img src="{{image_directory}}/stores/locate4.jpg" alt="分店四">
        <h4 class="store-title">台北中山旗艦店</h4>
        <div class="store-content">
            <div class="tel"><span></span><p>電話：(02)000-1234</p></div>
            <div class="time"><span></span><p>營業時間：10:00-21:00</p></div>
            <div class="address"><span></span><p>地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <a href="branch.html" class="detail ">詳細資訊</a>
    </div>
    <div class="store-card">
        <img src="{{image_directory}}/stores/locate5.jpg" alt="分店五">
        <h4 class="store-title">台北中山旗艦店</h4>
        <div class="store-content">
            <div class="tel flex flex-start"><span></span><p>電話：(02)000-1234</p></div>
            <div class="time flex flex-start"><span></span><p>營業時間：10:00-21:00</p></div>
            <div class="address flex flex-start"><span></span><p>地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <a href="branch.html" class="detail">詳細資訊</a>
    </div>        
</div>