<div class="store-map flex flex-between">
    <div class="branch-card">
        <img src="{{image_directory}}/stores/locate5.jpg" alt="分店五">
        <h4 class="store-title">台北中山旗艦店</h4>
        <div class="store-content">
            <div class="tel"><span></span><p>電話：(02)000-1234</p></div>
            <div class="time"><span></span><p>營業時間：10:00-21:00</p></div>
            <div class="address"><span></span><p>地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <!-- <a href="branch.html" class="detail ">詳細資訊</a> -->
    </div>
    <div class="map">
        <div class="map-foreground">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.3926535599107!2d121.5208052151031!3d25.05467738396264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a968ff05f111%3A0x6929ec25bcfef983!2z6Lev5piT5aiB55m7IOWPsOWMl-S4reWxseaXl-iJpuW6lw!5e0!3m2!1szh-TW!2sjp!4v1629071780887!5m2!1szh-TW!2sjp" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>




</div>