{% extends "layout.njk" %}

{% block content %}
<main>
    <div class="slogan-section">
        <div class="jumbotron flex flex-center">
            <div class="slogan-text d-inline show-border">
                <h3 class="sub-slogan">Promise-Desert 2020 早春系列</h3>
                <h1>看得清，才能看得遠</h1>
            </div>
        </div>
        <div class="explication">
            <div class="services-description container flex-col flex-align container-mobile">
                <h2 class="mb-6">用專業的心，做專業的事</h2>
                <ul class="grid-4col grid-s-1col">
                    <li class="service-card show-border">
                        <img src="{{image_directory}}jumbotron/money.png" alt="價格" class="mb-3 mb-s-6">
                        <h4 class="mb-1">單一價格</h4>
                        <p class="mb-s-10">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                    </li>
                    <li class="service-card show-border mb-s-10">
                        <img src="{{image_directory}}jumbotron/timer.png" alt="時間"  class="mb-3 mb-s-6">
                        <h4 class="mb-1">20 分鐘即可取件</h4>
                        <p class="mb-s-10">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                    </li>
                    <li class="service-card show-border mb-s-10">
                        <img src="{{image_directory}}jumbotron/heart.png" alt="服務"  class="mb-3 mb-s-6">
                        <h4 class="mb-1">安心售後服務</h4>
                        <p class="mb-s-10">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                    </li>
                    <li class="service-card show-border mb-s-10">
                        <img src="{{image_directory}}jumbotron/glasses.png" alt="鏡片"  class="mb-3 mb-s-6">
                        <h4 class="mb-1">關於鏡片</h4>
                        <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="classic-glasses">
        <div class="container container-mobile show-border">
            <h2 class="mb-5 mb-s-5">經典系列鏡框</h2>
            <ul class="models show-border">
                <li class="people flex flex-align mb-4 mb-s-2 flex-mobile-col show-border">
                    <div><img src="{{image_directory}}models/people-3.png" alt="麻豆1"></div>
                    <div class="show-border">
                        <p class="glasses-models-text sparkle show-border">OPTICAL</p>
                    </div>
                </li>
                <li class="people flex-reverse flex-align mb-4 mb-s-2 flex-mobile-col">
                    <div><img src="{{image_directory}}models/people-3.png" alt="麻豆2"></div>
                    <div  class="show-border">
                        <p class="glasses-models-text sun show-border">SUNGLASSES</p>
                    </div>
                </li>
                <li class="people flex flex-align mb-s-2 flex-mobile-col">
                    <div><img src="{{image_directory}}models/people-3.png" alt="麻豆3"></div>
                    <div  class="show-border">
                        <p class="glasses-models-text lightning show-border">FUNCTIONAL</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="design-glasses">
        <div class="container container-mobile show-border">
            <h2 class="mb-5 mb-s-5">聯名設計鏡框</h2>
            <ul class="show-border grid-2col grid-s-1col">
                <li class="show-border flex-text-center mb-s-4">
                    <p class="design-glasses-text">
                        Double A+
                    </p>
                </li>
                <li class="show-border flex-text-center">
                    <p class="design-glasses-text">
                        YOUTH
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="customers-recommend">
        <div class="container container-mobile show-border">
            <h2 class="mb-5 mb-s-5">顧客推薦</h2>
            <ul class="grid-4col grid-s-1col">
                <li>
                    <div class="customer-comment-card">
                        <div class="customer-img">
                            <img src="{{image_directory}}models/joseph-frank-YpBEA28Thos-unsplash.jpg" alt="外國人1">
                        </div>
                        <div class="comment">
                            <p class="customer-name mb-1">Jessy</p>
                            <p class="comment-content">眼鏡品質優良，下次還會想來這邊購買！</p>
                            <p class="comment-date">2021/06/20</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="customer-comment-card">
                        <div class="customer-img">
                            <img src="{{image_directory}}models/lilartsy-OIdeMsvPtFc-unsplash.jpg" alt="外國人2">
                        </div>
                        <div class="comment">
                            <p class="customer-name mb-1">凱倫</p>
                            <p class="comment-content">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                            <p class="comment-date">2021/04/18</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="customer-comment-card">
                        <div class="customer-img">
                            <img src="{{image_directory}}models/marketa-marcellova-gbih2R2skmQ-unsplash.jpg" alt="外國人3">
                        </div>
                        <div class="comment">
                            <p class="customer-name mb-1">悠悠</p>
                            <p class="comment-content">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                            <p class="comment-date">2020/12/25</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="customer-comment-card">
                        <div class="customer-img">
                            <img src="{{image_directory}}models/veeterzy-n3Hij_AQzsE-unsplash.jpg" alt="外國人4">
                        </div>
                        <div class="comment">
                            <p class="customer-name mb-1">Kyuan</p>
                            <p class="comment-content">服務很好，品質沒有任何問題，非常喜歡。</p>
                            <p class="comment-date">2020/10/31</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="comment-part">
        <div class="container container-mobile flex-col flex-center show-border">
            <h2 class="mb-3 mb-s-5">聯絡我們</h2>
            <form action="" method="post">
                <div class="form-section flex-col flex-center show-border">
                    <h5 class="mb-s-2">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</h5>
                    <label for="name" class="show-border">姓名</label>
                    <input type="text" id="name" name="name" class="mb-2 mb-s-2" placeholder="陳小明" >
                    <label for="telephone">聯絡電話</label>
                    <input type="text" id="telephone" name ="telephone" class="mb-2 mb-s-2" placeholder="0912-345-678">
                    <label for="email">電子郵件</label>
                    <input type="text" id="email" name="email" class="mb-2 mb-s-2" placeholder="example@email.com">
                    <label for="comment">意見反應</label>
                    <textarea name="comment" id="comment" class="mb-2 mb-s-2" placeholder="請輸入你的意見"></textarea>
                    <div class="chk flex flex-start mb-5 mb-s-5 show-border">
                        <input type="checkbox">
                        <p>我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</p>
                    </div>
                    <input type="submit" value="確認送出">
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}