<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script>
        var items = [{title:"class1",money:"200"},{title:"class2",money:"399"}];
    </script>
    <title>Document</title>
</head>
<body>
    {% include "partials/header.njk"%}
    {% block content %} {% endblock %}
    {% include "partials/footer.njk"%}
</body>
</html>